
  .claimSteps {
    width: 100%;
    height: 100%;
    background-color: #2dccd3;
    color: #ffffff;
    text-align: center;
    position: relative;
    margin: 0 auto;
    display: table;
  }

  .divs {
    width: 33%;
    float: left;
  }


  .lastDiv {

     width: 34%;
     float: left;
  
  }

  .picture {
    
    width: 60%;
    margin-bottom: auto; 
 }

 .space-one {
    
  height: 8%;
  margin-bottom: auto; 
}

  .claimStepTitle {
    color: #ffffff;
    font-size: 45px;
    margin-top: 110px;
  }
  .claimStepText {
    text-align: center;
    margin-left: 33.3%;
    width: 33.3%;
    font-size: 20px;
  }
  @media (min-width: 1200px) {
    
  }
  @media (max-width: 991px) {
    .claimSteps {
      margin: 30px auto;
    }
  }
  @media (max-width: 400px) {
    /*Color For Demo Only*/
    body {
      background: red;
    }
    .claimSteps {
      width: 100%;
      height: 100%;
      padding-bottom: 40px;
    }
  }
  /*Color For Demo Only*/
  
  @media (max-width: 320px) {
    body {
      background: lightblue;
    }
  }